@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-bg-primary: #fff;
  --color-bg-toggle: #1e90ff;
  --color-paragraph:#B9C1BE;
  --color-button:#F3F6F6;
  --color-profile: #1E1E1E;
}
body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-bg-primary: #1E1E1E;
  --color-bg-toggle: #a9a9a9;
  --color-paragraph:#B9C1BE;
  --color-button:#232929;
  --color-profile: #25786d;
}
body {
  --color-white:#fff;
  --color-text-secondary: #25786d;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: 'Poppins', sans-serif;
  transition: 0.25s ease-in-out;
}
p{
  color: var(--color-paragraph);
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;

}
.hs > li,
.item {
  scroll-snap-align: center;
  display: flex;
  align-items: center;
}
@media (max-width:768px){
  
  .hs {
    display: grid;
    grid-auto-flow: column;
    gap:10px;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
  }    
}